<h4>{{dateSelect | date: 'MMM YYYY' }}</h4>
<button (click)="changeMonth(-1)">Prev month</button>
<button (click)="changeMonth(1)">Next month</button>

<div>
  <ol>
    <li *ngFor="let day of weekdays" class="day-name">{{day}}</li>
    <li 
    (click)="getSelectedDay(day)"    
    [style.gridColumnStart] = "first ? day?.indexWeek : 'auto'"
    *ngFor="let day of monthSelect; let first = first">{{day.value}}</li>    
  </ol>
  <h4 *ngIf='currentDaySelected'>Selected date: {{currentDaySelected}}</h4>
</div>


<div class='time-zone-section '>
  <button (click)="getTimeZone('America/Bogota')">Colombia timeZone</button>
  <button (click)="getTimeZone('Europe/Madrid')">Spain timeZone</button>
  <button (click)="getTimeZone('America/Argentina/Buenos_Aires')">Argentina timeZone</button>
  <h4 *ngIf='currentTimeZoneSelected'>{{currentTimeZoneSelected}}</h4>
</div>